
body {
    font-family: Roboto, sans-serif;
    background: #FFFFFF;
    color: #434455;
    font-weight: 400;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery {

    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 24px;
    align-items: center;
    justify-content: center;

}

.gallery-image {
    max-width: 100%;
    display: block;
}
.gallery-image img:hover {
        transform: scale(1.05);
    }

.gallery-item {
width: calc((100% - 48px) / 3);
}
  
.modal {
    width: 500px;
    padding: 20px;
    user-select: none;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}